@{
    ViewBag.Title = "Index";
}

<div class="col-md-3" style="vertical-align:top">
    <div id="titleDiv">About Us</div>
</div>

<div class="col-md-9">
    <div class="subTitleDiv">
        YJ PACKAGING의 시작은 체계적이고 전략적인 접근을 통한 안정적인 우수 인재의 확충입니다!
    </div>
    <div class="copyDiv">
    <p>test test test test test test test test test test test test test test test 
    test test test test test test test test test test test test test test test test test test test test </p>
        <p>test test test test test test test test test test test test test test test 
    test test test test test test test test test test test test test test test test test test test test </p>
    </div>
</div>
