@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="main-page-1-upper-panel group">
        <div class="main-page-1-image-box">
            <img src="~/Content/images/Inventory.jpg" alt="Inventory Management Image" class="img-responsive animated fadeIn" />
        </div>
        <div class="main-page-1-color-box">
            <div class="main-page-text-box" style="padding:10px;">
                <h1>Inventory Mangement System</h1>
                <div style="font-weight:bold">
                    <p>Our inventory management system allows you to track inventory levels and orders. You can log in to our system at any time to check the status to avoid product overstock or outages.</p>
                    <p>You may export the report in Microsoft Excel format for off-line use as well.</p>
                </div>
            </div>
        </div>
    </div>
</div>


