@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="main-page-1-upper-panel group">
        <div class="main-page-1-image-box">
            <img src="~/Content/images/AboutUs.jpg" alt="About Us Image" class="img-responsive animated fadeIn" />
        </div>
        <div class="main-page-1-color-box">
            <div class="main-page-text-box" style="padding:10px;">
                <h1>Picking, Packing and Shipping</h1>
                <div style="font-weight:bold">
                    <p>With 10 years experience and expertise of logistics, we pick, pack and ship your production with the same sense of urgency, passion and commitment as yours to fulfill your order properly.</p>
                </div>
                <h1>Storaging</h1>
                <div style="font-weight:bold">
                    <p>Our warehouses are conveniently located in Little Ferry, NJ 7 miles from George Washington Bridge. Our location would reduce transit time, increase reliability and flexible schedule.</p>
                </div>
                <h1>Assembling</h1>
                <div style="font-weight:bold">
                    <p>We can not only ship your production but also assemble it following the proper procedures.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="col-md-3" style="vertical-align:top">
    <div id="titleDiv">Service</div>
</div>

<div class="col-md-9">
    <div class="subTitleDiv">
        Picking, Packing and Shipping
    </div>
    <div class="copyDiv">
    <p>With 10 years experience and expertise of logistics, we pick, pack and ship your production with the same sense of urgency, passion and commitment as yours to fulfill your order properly.</p>
    </div>

    <div class="subTitleDiv">
       Storaging
    </div>
    <div class="copyDiv">
    <p>Our warehouses are conveniently located in Little Ferry, NJ 7 miles from George Washington Bridge. Our location would reduce transit time, increase reliability and flexible schedule.
    </div>

    <div class="subTitleDiv">
       Assembling
    </div>
    <div class="copyDiv">
    <p>We can not only ship your production but also assemble it following the proper procedures.
    </div>
</div>*@
