@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-12" style="margin-top:10px">
            <div style="margin:10px">
                <b>YJ Packaging Inc.</b><br />
                201 Gates Road  unit# F </br>
                Little Ferry, NJ  07643 <br />
                info@yjpackaging.com
            </div>
            <iframe height="450" frameborder="0" style="width:100%;border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxB5f4BGj6dvskSUZLfsfnUDysIpcQ4CA&q=201+Gates+Road,+Little Ferry,+NJ+07643" allowfullscreen></iframe>
        </div>
    </div>
</div>
